.plan_grid{
    margin-top: -1rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    row-gap: 3rem;
    column-gap: 6rem;
    justify-content: center;
}

.plan_card{
    background-color: #094044;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 20px;
}
.topic{
    align-self: center;
}
.bar{
    height: 3px;
    background-color: white;
}
.price{
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0 12px white;
}
.benefits{
    margin-left: 1rem;
}
@media(max-width:600px){
    .plan_grid{
        margin-top: 2rem;
    }
}
