
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
}


main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: calc(100vh - 3rem); /* subtract navbar height */
  background-color: #ffffff;
  top: 47.5rem;
}


body, main, footer {
  position: relative;
  z-index: 2;
}

.video {
  position: absolute;
  left: 0;
  top: -44rem;
  width: 100%;
  height: 100%;
  object-fit:contain;
  z-index: -1;
  filter: brightness(0.5);
}


.SUBJECTS {
  background-color: #ffffff;
  display: flex;
  align-items: top;
  justify-content: left;
  margin-top: 5%;
  margin-left: 6%;
  width: 100%;
  color: rgba(150, 150, 150, 0.7);
  font-weight: bold;
  font-size: 60px;
}

.sub1{
  color: #094044;
  background-color: transparent;
  font-size: 100px;
  margin-top: -67rem;
}
.sub2{
  margin-top: 0rem;
}

.subject-img{
  margin-left:35rem;
}
.s{
  margin-left: 5rem;
  margin-top: -3rem;
}
.s1{
  margin-left: -23rem;
  margin-top: 4rem;
}
.smsg{
  margin-left: 58rem;
  margin-top: -17rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: #124d54;
  font-weight: bold;
  font-size: 22px;
  color: white;
  height: 3rem;
}


nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: normal;
  list-style: none;
  align-items: center;
}

.space{
  height: 20rem;
}

.foot {
  display: flex;
  flex-direction: row;
  background-color: rgba(9, 64, 68,0.57);
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #094044;
}
